<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="" />
    <meta
      name="keywords"
      content="marketing, marketing digital, bases de datos, "
    />
    <title>AUTODATEE</title>
    <link rel="shortcut icon" href="../images/shorcut-icon.png" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <link
    rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"
  />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
    <link
        href="https://fonts.googleapis.com/icon?family=Material+Icons"
        rel="stylesheet"
      />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <script
      src="https://kit.fontawesome.com/e13cb5b016.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="../css/style.css" />
    <link rel="stylesheet" href="../css/slider.css" />
    <link rel="stylesheet" href="../css/whatsapp.css" />
    <link rel="stylesheet" href="../css/whatsapp2.css" />
  </head>
  <body>
    <header class="header">
      <div class="header-logo">
        <a href="../index.html">
          <img
            src="../images/autodatee-color.png"
            alt="logo"
            class="header-logo-image"
          />
        </a>
      </div>
      <nav class="navbar">
        <ul class="navbar-menu">
          <li><a href="../index.html">Inicio</a></li>
          <li><a href="../views/servicio.html">Servicio</a></li>
          <li><a href="../views/sobre-nosotros.html">Sobre Nosotros</a></li>
          <li><a href="../views/clientes.html">Clientes</a></li>
          <li><a href="../views/contacto.html">Contacto</a></li>
          <li><a href="../views/datee-academy.html">Dateeacademy</a></li>
        </ul>
      </nav>
    </header>

    <div class="nav-bottom">
      <div class="popup-whatsapp fadeIn">
        <div class="content-whatsapp -top">
          <button type="button" class="closePopup">
            <i class="material-icons icon-font-color">close</i>
          </button>
          <p>
            <img src="../images/avatar.png" width="50" /> 
            Hola, ¿en que podemos
            ayudarle?
          </p>
        </div>
        <div class="content-whatsapp -bottom">
          <input
            class="whats-input"
            id="whats-in"
            type="text"
            placeholder="Enviar mensaje..."
          />
          <button class="send-msPopup" id="send-btn" type="button">
            <i class="material-icons icon-font-color--black">send</i>
          </button>
        </div>
      </div>
      <button type="button" id="whats-openPopup" class="whatsapp-button">
        <div class="float">
          <i class="fa fa-whatsapp my-float"></i>
        </div>
      </button>
      <div class="circle-anime"></div>
    </div>
   
    <section class="cases">
        <div class="cases-container">
            <h3 class="subtitle">Casos de éxito</h3>
            <p>Confian en nosotros cada día</p>
        </div>

        <div class="slider">
          <div class="slider-container">
            <div class="slider-container-item">
                <img src="../images/slider/autocity.jpeg">
            </div>
            <div class="slider-container-item">
                <img src="../images/slider/chexa.jpg">
            </div>
            <div class="slider-container-item">
                <img src="../images/slider/coinauto.jpeg">
            </div>
            <div class="slider-container-item">
                <img src="../images/slider/escobar.jpeg">
            </div>
            <div class="slider-container-item">
                <img src="../images/slider/espasa.png">
            </div>
            <div class="slider-container-item">
                <img src="../images/slider/folmer.jpeg">
            </div>
            <div class="slider-container-item">
                <img src="../images/slider/guidoguidi.jpg">
            </div>
            <div class="slider-container-item">
                <img src="../images/slider/le-parc.png">
            </div>
            <div class="slider-container-item">
                <img src="../images/slider/macua.jpg">
            </div>
            <div class="slider-container-item">
                <img src="../images/slider/matos.png">
            </div>
            <div class="slider-container-item">
                <img src="../images/slider/mediterraneo.png">
            </div>
            <div class="slider-container-item">
                <img src="../images/slider/meschini.jpeg">
            </div>
            <div class="slider-container-item">
                <img src="../images/slider/montanari.jpeg">
            </div>
            <div class="slider-container-item">
                <img src="../images/slider/montironi.png">
            </div>
            <div class="slider-container-item">
                <img src="../images/slider/motironi.jpg">
            </div>
            <div class="slider-container-item">
                <img src="../images/slider/nation.png">
            </div>
            <div class="slider-container-item">
                <img src="../images/slider/olivieri.png">
            </div>
            <div class="slider-container-item">
                <img src="../images/slider/organizacionsur.jpg">
            </div>
            <div class="slider-container-item">
                <img src="../images/slider/pirerayen.jpg">
            </div>
            <div class="slider-container-item">
                <img src="../images/slider/prana.jpg">
            </div>
            <div class="slider-container-item">
                <img src="../images/slider/rotter.png">
            </div>
            <div class="slider-container-item">
                <img src="../images/slider/ruta3.png">
            </div>
            <div class="slider-container-item">
                <img src="../images/slider/sanjorge.jpg">
            </div>
            <div class="slider-container-item">
                <img src="../images/slider/sendai.jpg">
            </div>
            <div class="slider-container-item">
                <img src="../images/slider/seoul.jpeg">
            </div>
            <div class="slider-container-item">
                <img src="../images/slider/sportcars.jpeg">
            </div>
            <div class="slider-container-item">
                <img src="../images/slider/stianese.jpg">
            </div>
            <div class="slider-container-item">
                <img src="../images/slider/turin.png">
            </div>
            <div class="slider-container-item">
                <img src="../images/slider/yacopini.jpg">
            </div>
          </div>
        </div>

        <div class="cases-image">
            <img src="../images/banner_11-1-os1c2rswog95xttr269m9olxptqdcj5y80dl5pvmiw.png" class="cases-image-banner">
        </div>
    </section>


    <footer class="footer">
      <!-- <img src="../images/autodatee-blanco.png" class="footer-img" /> -->
      <div class="footer-data">
        <div class="footer-data-box">
          <h4 class="subtitle">Seguinos en</h4>
          <div class="footer-redes-icons">
            <a href="https://www.facebook.com/autodatee/">
              <i class="bi bi-facebook"></i>
            </a>
            <a href="https://www.facebook.com/autodatee/">
              <i class="bi bi-instagram"></i>
            </a>
            <a href="https://www.linkedin.com/company/autodatee/">
              <i class="bi bi-linkedin"></i>
            </a>
          </div>
        </div>
        <div class="footer-data-box">
          <h4 class="subtitle">Links</h4>
          <div class="footer-links-a">
            <a href="../views/servicio.html">Servicio</a>
            <a href="../views/sobre-nosotros.html">Sobre Nosotros</a>
            <a href="../views/clientes.html">Clientes</a>
            <a href="../views/datee-academy.html">Dateeacademy</a>
          </div>
        </div>
        <div class="footer-data-box">
            <h4 class="subtitle">Contacto</h4>
            <div class="footer-data-contact">
                <a href=""mailto:info@autodatee.com.ar">info@autodatee.com.ar</a>
                <a href="tel:+54%209%2011%203146-1707">+54 9 11 3146-1707</a>
            </div>
        </div>
      </div>
      <div class="footer-copyright">
        <h5 class="footer-copyright-text">
            Copyright ©2022 Todos los derechos reservados | Diseñado por
            <a href="https://github.com/GeronimoVenzi">Venzi Gerónimo</a>
        </h5>
    </div>
    </footer>
    <script src="../js/main.js"></script>
    <script src="../js/slider.js"></script>
    <script src="../js/whatsapp.js"></script>
    <script
      src="https://kit.fontawesome.com/e13cb5b016.js"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
